orbit-ribbon
orbit-ribbon.exe
buildtmp
cpp/autoxsd/*.cpp
cpp/autoxsd/*.h
cpp/autoxsd/*.o
cpp/autofont/*.cpp
cpp/autofont/*.h
cpp/autofont/*.o
cpp/autoinfo/*.cpp
cpp/autoinfo/*.h
cpp/autoinfo/*.o
.sconsign.dblite
*.swp
*.blend1
*~
*.ore
