orbit-ribbon
orbit-ribbon.exe
buildtmp
cpp/autoxsd/*.cpp
cpp/autoxsd/*.h
cpp/autoxsd/*.o
cpp/autofont/*.cpp
cpp/autofont/*.h
cpp/autofont/*.o
cpp/autoicon/*.cpp
cpp/autoicon/*.h
cpp/autoicon/*.o
cpp/autoinfo/*.cpp
cpp/autoinfo/*.h
cpp/autoinfo/*.o
cpp/minizip/*.o
.sconsign.dblite
*.swp
*.blend1
*.blend2
*~
*.ore
*.dll
xsde/*
